<div class="table-container">
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>
    <div class="mat-elevation-z8" >
      <table mat-table [dataSource]="dataSource" matSort cdkDropList (cdkDropListDropped)="drop($event)">
        <!-- ID Column -->
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">PW{{ row.userId }}</td>
        </ng-container>

        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
            <td mat-cell *matCellDef="let row">{{ row.from | date:'dd-MMMM-yyyy' }}</td>
          </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="to">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>To</th>
          <td mat-cell *matCellDef="let row">{{ row.to | date:'dd-MMMM-yyyy' }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
          <td mat-cell *matCellDef="let row">{{ row.reason | titlecase }}</td>
        </ng-container>

        <!-- Designation Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let row">
            {{ row.type | titlecase }}
          </td>
        </ng-container>

        <!-- Role Column -->
        
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row" class="action">
            <button
              title="Accept"
              mat-mini-fab
              style="background-color: var(--third-color)"
              aria-label="Example icon button with a bookmark icon"
              (click)="onEdit(row.uid,row.leaveId)"
            >
            <mat-icon>check</mat-icon>
            </button>
            <button
              title="Reject"
              mat-mini-fab
              color="warn"
              aria-label="Example icon button with a bookmark icon"
              (click)="onDelete(row.uid,row.leaveId)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder>   
          </div>
        </tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">
            Empty Leave Request
          </td>
        </tr>
        <!-- Row shown when there is no matching data.  -->
       <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>  -->
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    >
    </mat-paginator>
  </div>
