section{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  button{
    width:fit-content;
    display: flex;
  }
  mat-form-field{
    width: 100%;
  }
  
.container {
  width: 100%;
  height: fit-content;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;
  transition: transform 0.2s ease-in-out;
  .card {
    position: relative;
    width: 400px;
    height: fit-content;
    min-height: 250px;
    padding: 1.5rem;
    background: var(--secondary-color);
    border-radius: 1rem;
    // box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    color: black;
    display: flex;
    justify-content: space-between;
    .left {
      .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 1rem;
        h1 {
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
      .desc {
        width: 70%;
        font-size: 1rem;
      }
    }
    .right{
      .action{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        mat-icon{
          display: grid;
          place-content: center;
          aspect-ratio: 1/1;
          width: 35px;
          height: 35px;
          border-radius:50% ;
          border: none;
          font-size: 1.3rem;
          color: white;
          cursor: pointer;
        }
      }
    }

    &:hover {
      transform: scale(1.01);
      opacity: 2;
    }
  }
}

// Spinner animation
.lds-roller {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background:var(--third-color);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
span{
  position: absolute;
  bottom: 0;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
}

