<section >
    <div class="add-icons">
        <button mat-raised-button color="primary" (click)="onAdd()">
            <p>Add Holiday</p>
            <mat-icon>add</mat-icon>
        </button>
    </div>
<mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>

 

  <div class="lds-roller" *ngIf="isLoading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <span>Loading Please wait.......</span>
  </div>
  <div class="outer-layer">
    <div class="container" *ngIf="!isLoading">

        <div class="card" *ngFor="let holiday of dataSource.filteredData">
            <div class="left">
                <div class="header">
                    <h1>{{holiday.event | titlecase}}</h1>    
                </div>
                <div class="desc">
                    <p>{{holiday.description | titlecase}}</p>
                </div>
                <div class="date">
                    <h2>{{holiday.date | date:'dd-MM-yyyy'}}</h2>
                </div>    
                <div class="type">
                    <p [style.backgroundColor]="holiday.type==='National'?'#6759ff':'#ffc99b'">{{holiday.type}} Holiday</p>
                </div>    
            </div>
            <div class="right">
                <!-- <div class="action">
                    <button 
                        mat-mini-fab 
                        style="background-color: var(--third-color);" 
                        aria-label="Example icon button with a bookmark icon"
                        (click)="onEdit(holiday.key)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button 
                        mat-mini-fab 
                        color="warn" 
                        aria-label="Example icon button with a bookmark icon" 
                        (click)="onDelete(holiday.key)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div> -->
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onEdit(holiday.key)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item  (click)="onDelete(holiday.key,holiday.event)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            
        </div>
        
       
    </div>
  </div>
   

</section>
