.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-toolbar-single-row{
  justify-content: space-between;
  mat-icon{
    cursor: pointer;
  }
}
mat-nav-list{
  a{
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
    // border: 1px solid red;
    span{
      padding: .5rem;
      // border: 1px solid green;
    }
  }
}


