.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;

}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-toolbar-single-row{
  justify-content: space-between;
  .lg-logout{
    cursor: pointer;
    @media (max-width: 768px) {
      display: none;
    }
  }
 
}
mat-nav-list{
  .list{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    &.sm-logout{
      display: none !important;
      @media (max-width: 768px) {
        display: flex !important;
      }
    }
    &.active{
      background-color:var(--third-color);
    }
    mat-icon{
      width: fit-content;
    }
    a{
      width: auto;
      display: flex;
      gap: 0.5rem;
      justify-content: space-around;
      align-items: center;
      span{
        padding: .5rem;
        font-size: 1rem;
        font-weight: 500;
        // border: 1px solid green;
      }
    }
   
    
   
    // border: 1px solid red;
   
  }
  
}




