<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="isAdmin" routerLink="user" routerLinkActive="active">
        <span>Employee</span>
      </a>
      <a mat-list-item *ngIf="isAdmin"  routerLink="holidays" routerLinkActive="active">
        <span>Holidays</span> 
      </a>
      <a mat-list-item *ngIf="isAdmin"  routerLink="request" routerLinkActive="active">
        <span>Leave Request</span> 
      </a>
      <a mat-list-item *ngIf="!isAdmin" routerLink="leaves" routerLinkActive="active">
        <span>Leave List</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar style="background-color: var(--secondary-color);">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="color: var(--third-color);">Leave Management System</span>
      <mat-icon 
        aria-hidden="false" 
        aria-label="Example home icon" 
        fontIcon="logout" 
        title="logout"
        (click)="logout()"></mat-icon>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
