<div class="form-pop-up">
    <div class="header">
        <h1 mat-dialog-title> {{this.data.key?'Update':'Add'}} Holiday</h1>
    </div>
    <form [formGroup]="holidayForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Event</mat-label>
            <input
              appearance="outline"
              type="text"
              matInput
              placeholder="Ex.Independence day"
              formControlName="event"
            />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <input
              appearance="outline"
              type="text"
              matInput
              placeholder="Ex. The day where india got freedom"
              formControlName="description"
            />
        </mat-form-field>
    
        <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="date">
            <mat-error *ngIf="holidayForm.get('date')?.hasError('beforeToday')">Date must be greater than today</mat-error>

            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="National">National</mat-option>
              <mat-option value="Religious">Religious</mat-option>
            </mat-select>
        </mat-form-field>
        <div mat-dialog-actions class="action">
            <button mat-raised-button 
            style="color: black;"
            [mat-dialog-close]="false">
              Close
            </button>
            <button 
                [disabled]="holidayForm.invalid"
                mat-raised-button 
                class="add"
                type="submit"
                style="background-color: var(--third-color)">
              {{this.data.key?'Update':'Add'}}
            </button>
        </div>
    </form>

    
  </div>

