/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --secondary-color: #ffffff;
  --third-color: #0052cc;
  --primary-color: #f4f5f7;
  font-size: min(4vw,16px);
  --button-color:#fff;
  --border-radius:8px;


}

html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
 
}

.mat-mdc-raised-button{
  box-shadow: none !important;
}

.mdc-dialog{
  width: fit-content !important;
  margin-inline: auto !important;
}