.align {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../shared/images/backgroundImage3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.register {
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 80%; /* Adjusted width for responsiveness */
  max-width: 400px;
  min-width: 300px;
  background:rgba(255, 250, 250, 0.7);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--third-color);
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    mat-form-field{
      width: 100%;
      margin-bottom: 1rem;
      button{
        background-color: transparent;
        border: none;
        padding: 1rem;
        color: black;
      }
    } 
    }
    button{
      width: 100%;
      padding: 1.5rem;
      color: var(--button-color);
    }
    
    
  }


@media (max-width: 768px) {
  .register .form__field input {
    padding: 3rem;
    font-size: 1.5rem; /* You can adjust the height as needed */
  }

}